.documents {
    padding: 0 15px;
}

.documents__extension,
.documents__download {
    padding: 15px 20px;
    border: 1px solid #e9eaed;
    border-radius: 4px;
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
}

.documents__extension {
    color: #979498;
}

.documents__download {
    color: #fff;
    background-color: #b7a998;
}

.documents__link-view {
    color: #e65100;
}
.documents__file-size {
    color: #cacccc;
}

